@import '../../assets/main.scss';

.input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem;
  border-bottom: 0.5px solid $border-color;
  font-size: 0.875rem;  
  font-family: $font-family-primary;
  &:last-child {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
}

.input-title {
  border-bottom: 1px solid $accent-color;
  font-size: 1.25rem;
  font-weight: $font-weight-title;
}

.invalid {
  border: 1px solid red;
  background:rgb(65, 5, 5) ;
}