.journal-item {
  margin-top: 1rem;
  padding: 1.25rem;
  border-radius: 0.25rem;
  text-align: left;
  color: #fff;
  background: rgba(255,255,255,0.03);
  &__header {
    font-size: 1.125rem;
    font-style: bold;
    font-weight: 600;
    line-height: 1.75rem;
  }
  &__body {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;

  }
  &__date,
  &__text {
    color: rgba(255,255,255,0.40);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  &__text {
    color: rgba(255,255,255,0.60);
  }
}