.journal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:1.875rem;
}


.input{
  width: 100%;
  padding: 0.3rem 0.5rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: none;
  border: none;
  outline: none;
  
  &-title{
    border:none ;
    outline: none;
    border-bottom: 1px solid #222096;
    background: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.form {
  &-row{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 3.5rem;
    border-bottom: 1px solid silver;
  }
  &-label{
    min-width: 6rem;
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
}

.invalid {
  border: 1px solid red;
  background:rgb(65, 5, 5) ;
}