@import '../../assets/main.scss';

.journal-add {
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.625rem;
  font-family: $font-family-header;
  font-style: italic;
  font-size: 1rem;
  font-weight: $font-weight-title;
  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}